<div>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button aria-label="Go Back" href="#/login">
                Back
            </md-button>
            <h2>
                <span style="font-size: x-large">Hospital Inventory Dashboard</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <div ng-if="guestProductCount!==0">
        <h2 style="margin-top: 80px;color: #3f51b5;font-size: xx-large" align="center" >Products</h2>
    </div>

    <br/>

    <md-content class="md-padding backgroundTheme">
        <div layout="row" layout-align="center" data-ng-style="{'width': '100%'}">
            <div class='md-padding' layout="row" layout-align="center" layout-wrap>
                <md-card class="md-whiteframe-9dp" data-ng-style="{'width': '350px', 'border-radius': '6px'}" data-ng-repeat="product in guestProducts" ng-if="product.isApproved" layout-padding>
                    <md-card-content>
                        <div>
                            <h4>{{product.productName}}</h4>
                            <p>{{product.productPrice}}rs</p>
                            <md-divider ng-style="{'background': 'rgba(255, 102, 51, 0.7)'}"></md-divider>
                            <br />
                            <center>
                            <img ng-src="{{product.productImage}}" style="width:50% !important;height:50% !important" class="md-card-image" alt="Washed Out">
                       </center>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <div  ng-if="guestProductCount===0" md-theme-watch style="margin-top:30px;text-align: center">
             <span style="color: darkcyan;font-size: xx-large">No Products Available.</span>
        </div>


    </md-content>
</div>