<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{productDescName}}</h2>
                <p>{{productDescPrice}}rs</p>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>
                    This is sample product description.
                </p>
                <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="{{productDescImage}}">
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="closeDialog();">
                close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>